$primary-color: #333;
$secondary-color: rgb(245, 245, 245);
$dull-color: #999;
$detail-color: #28ac28;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240,240,240);
    color: #444;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.container {
    width: 90%;
    margin: auto;
}

.flex-wrap {
    display: flex;
    align-items: center;
}

a {
    cursor: pointer;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 60%;
    }
}