.navbar {
    background: $primary-color;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    padding: .8rem 0rem;
    position: fixed;
    top: 0;
    z-index: 2;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-links {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: .8rem;
        border-top: 1px solid #666 ;
        padding-top: .8rem;

        &.active {
            display: flex;
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;


        &-button {
            background-color: $primary-color;
            font-size: 1.2rem;
            padding: .75rem .8rem;
            text-decoration: none;
            color: $secondary-color;
            transition-duration: 0.3s;
            display: flex;
            align-items: center;
            border-radius: 5px;

            i {
                margin-right: 0.2rem;
                display: none;
            }
        }
    
        &-button:visited {
            color: $secondary-color;
        }

        &-button:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }

    #log-in {
        display: none;
    }
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &-search {
        position: fixed;
        background-color: $secondary-color;
        border-radius: 5px;
        display: none;
        align-items: center;
        overflow: hidden;
        width: 0%;
        padding: .3rem .5rem .4rem 1rem;
        top: .6rem;
        right: 5rem;
        box-shadow: inset 0 0 3px rgba(0,0,0,1);
        transition: all 0.2s;

        &.active {
            display: flex;
        }

        &.transition {
            width: 91%;
            right: 5vw;
        }

        #search-cancel {
            color: #777;
            display: flex;
            text-decoration: none;

            &:visited {
                color: #777;
            }
        }
    
        input {
            background-color: $secondary-color;
            font-size: 1.5rem;
            font-family: Oxygen;
            border: none;
            width: 100%;
    
            &:focus {
                outline: none;
            }
        }
    }

    .toggle-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.8rem;
        height: 1.3rem;
    
        .bar {
            height: 3px;
            width: 100%;
            background-color: $secondary-color;
            border-radius: 10px;
        }
    }

    .icon-links {
        display: flex;

        .icon-link {
            color: $secondary-color;
            padding: 0 .2rem;
    
            i {
                font-size: 36px;
                vertical-align: middle;
            }
        }
    }
}

@media (min-width: 480px) {
    .mobile-nav-search.transition {
        width: 60%;
        right: 23vw;
    }
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .navbar {
        .container {
            flex-direction: row;
        }

        &-menu {
            display: flex;
            flex-direction: row;
        }

        #log-in {
            display: flex;
        }
    }
}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}