.navbar {
    background: $primary-color;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    padding: .8rem 0rem;
    position: fixed;
    top: 0;
    z-index: 2;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-links {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: .8rem;
        border-top: 1px solid #666 ;
        padding-top: .8rem;

        &.active {
            display: flex;
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;


        &-button {
            background-color: $primary-color;
            font-size: 1.2rem;
            padding: .75rem .8rem;
            text-decoration: none;
            color: $secondary-color;
            transition-duration: 0.3s;
            display: flex;
            align-items: center;
            border-radius: 5px;

            i {
                margin-right: 0.2rem;
                display: none;
            }
        }
    
        &-button:visited {
            color: $secondary-color;
        }

        &-button:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }

    #log-in {
        display: none;
    }
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &-search {
        position: fixed;
        background-color: $secondary-color;
        border-radius: 5px;
        display: none;
        align-items: center;
        overflow: hidden;
        width: 0%;
        padding: .3rem .5rem .4rem 1rem;
        top: .6rem;
        right: 5rem;
        box-shadow: inset 0 0 3px rgba(0,0,0,1);
        transition: all 0.2s;

        &.active {
            display: flex;
        }

        &.transition {
            width: 91%;
            right: 5vw;
        }

        #search-cancel {
            color: #777;
            display: flex;
            text-decoration: none;

            &:visited {
                color: #777;
            }
        }
    
        input {
            background-color: $secondary-color;
            font-size: 1.5rem;
            font-family: Oxygen;
            border: none;
            width: 100%;
    
            &:focus {
                outline: none;
            }
        }
    }

    .toggle-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.8rem;
        height: 1.3rem;
    
        .bar {
            height: 3px;
            width: 100%;
            background-color: $secondary-color;
            border-radius: 10px;
        }
    }

    .icon-links {
        display: flex;

        .icon-link {
            color: $secondary-color;
            padding: 0 .2rem;
    
            i {
                font-size: 36px;
                vertical-align: middle;
            }
        }
    }
}

.login-menu {
    position: fixed;
    background-color: rgba(0,0,0,.8);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.active {
        display: flex;
    }

    .account-links {
        display: flex;
        justify-content: space-between;
        width: 17rem;

        a {
            color: $secondary-color;
        }
    }

    .login-button {
        background-color: $detail-color;
        padding: .5rem;
        border-radius: 10px;
        text-decoration: none;
        color: $secondary-color;
        margin-bottom: 2rem;

        &:visited {
            color: $secondary-color;
        }
    }

    .login-details {
        display: flex;
        flex-direction: column;

        input {
            background-color: $secondary-color;
            border-radius: 50px;
            font-size: 1.4rem;
            padding: .5rem 1rem;
            width: 15rem;
            margin: auto;
            border: none;

            &:first-child {
                margin-bottom: .5rem;
            }

            &:last-child {
                margin-bottom: 1rem;
            }

            &:focus {
                outline: none;
            }

            &::placeholder {
                opacity: .8;
            }
        }
    }

    .cancel-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.8rem;
        height: 1.3rem;
        position: fixed;
        top: 1.2rem;
        right: 1.2rem;

        .bar {
            height: 3px;
            width: 100%;
            background-color: $secondary-color;
            border-radius: 10px;

            &:first-child {
                transform: rotate(-45deg) translate(-6px, 7px);
            }

            &:last-child {
                transform: rotate(45deg) translate(-6px, -7px);
            }
        }
    }
}

@media (min-width: 480px) {
    .mobile-nav-search.transition {
        width: 60%;
        right: 23vw;
    }
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .navbar {
        .container {
            flex-direction: row;
        }

        &-menu {
            display: flex;
            flex-direction: row;
        }

        #log-in {
            display: flex;
        }
    }
}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}